.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;

  .col-1 {
    display: flex;
    justify-content: center;
  }

  .col-2 {
    display: flex;
    justify-content: center;
  }

  @media (min-width: 992px) {
    display: flex;

    .col-1 {
      width: 50%;
    }

    .col-2 {
      width: 50%;
    }
  }
}

.wrapper {
  position: relative;
  margin-bottom: 4rem;
}
