@import "../../../assets/styles/variables";

.notification {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 3rem 2rem 2rem;
  color: $fgc-color;

  .icon {
    font-size: 2rem;
  }

  .content {
    h2 {
      color: $primary-color;
    }
  }
}
