/* You can add global styles to this file, and also import other style files */
@import "assets/fonts/font.scss";

body {
  margin: 0;
  font-family: "Poppins";
  font-size: 18px;
  line-height: 27px;
}

h2 {
  font-weight: bold;
  font-size: 1.94rem;
}

h3 {
  font-size: 1.67rem;
}
