/* You can add global styles to this file, and also import other style files */
@import "assets/fonts/font.scss";
@import "assets/styles/index";

body {
  margin: 0;
  font-family: "Poppins";
  font-size: 18px;
  line-height: 27px;
}

h2 {
  font-weight: bold;
  font-size: 1.94rem;
}

h3 {
  font-size: 1.67rem;
  font-weight: 400;
}

._text-color-1 {
  color: $primary-color !important;
}

._text-color-2 {
  color: $secundary-color !important;
}

._text-color-3 {
  color: $tertiary-color !important;
}
